.categories{
    margin:10px 0px;
    padding: 0 10px 0 30px !important;
    box-sizing: border-box;
}
.authors{
    margin:10px 0px;
    padding: 0 10px 0 30px !important;
    box-sizing: border-box;
}