.categories, .authors{
    margin:10px 0px;
    padding: 0 10px 0 10px !important;
    box-sizing: border-box;
}
.fontstyle{
    font-size:20px;
    color:white;
}
.categories nav,
.authors nav{
    background-color:#F0F0F0;
}
