@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.navbar-brand{
    font-family: 'Satisfy', cursive !important;
    font-size: 30px !important;
    padding-right: 40px;
}
.nav-link .fa{
    font-size: 30px;
    margin-top: -100px;
    margin-right: 10px;
}
.badge{
    margin-left: -10px;
}
.search{
    display: flex;
    justify-content: center;
}