@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap');
.card .card-text {
    line-height: 1em !important;
    font-size:12px !important ;
}
.card{
    font-family:sans-serif;
    transition: .2s ease-in-out ;
}
.card:hover{
    box-shadow:5px 10px 8px #888888;
    transform:scale(1.1) ;   
}
.card-footer{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.price{
    font-size: medium;
}
.divnames{
    font-family: 'Courier Prime', monospace;
    padding-top: 30px;
}
.divnames h4{
    
    line-height: 1rem;
}